body{ 
  
  font-size: 100%;

  background: url(./src/Elements/PanoramaPic.svg);
  background-position: 30% 20px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
  transition: 3s ;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#scrollButtonLeft {
position:absolute;
top: 40%;
left: 2%  ; 

background: url(./src/Navigation/moveLeft.svg);
background-repeat: no-repeat;
width: 80px;
height: 80px;
}

#scrollButtonRight {
  position: absolute;
  top: 40%;
  left: 95% ; 
  
  background: url(./src/Navigation/moveRight.svg);
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  }

#BandArea {  
   
  width: 960px;
  height: 100vh ;  
   
  position: center;
  margin-right: auto;
  margin-left: auto;  
}

#BandArea h1 {
  text-align: center;  
}

/*Hier wird der Content Bereich definiert*/

.Content{ 

  width: 960px;
  margin-right: auto;
  margin-left: auto;  
  
  margin-top: 30px;
}

/* Hier wird die Instrumenten Navigation definiert. */

.InstNavArea{
  background-color: rgba(221, 221, 221, 1.0);
  border-radius: 20px;
  box-shadow: 10px 10px 15px black;
  white-space: nowrap;
  overflow-x: auto;

  z-index: 2; 
  margin-bottom : 0px;  

  height: 150px;
  transition: height 0.5s ease-in;  
 
  padding: 0px;   
  overflow: hidden; 

}

.inlineBlock{

  display: inline-block;
  
}

.inlineBlock li{
  text-align: center;
  min-width: 120px;
}

.sticky{  
  position: sticky;
  top: 0px;  
  
  height: 60px;       
} 

#slideLeft {  
  width: 8%;
  height: 100%;
  float: left;
  position: relative;
  top: 30%;

  background: url(./src/Navigation/moveLeft.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;  
} 

#slideRight {
  width: 8%;  
  float: right;
  position: relative;
  top: 30%;

  background: url(./src/Navigation/moveRight.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.InstNavArea li { 
  
  height: 100%;  
  background-repeat: no-repeat;  
  background-size:contain;
  background-position-y: center;    
  background-color: transparent;  
  display: inline-block; 
  
  margin-right: 20px; 
  
}


.InstNavArea ul {
  height: 100%; 
  width: 80%;   
  margin: 0px; 
  overflow-x: hidden;
  scroll-behavior: smooth;  
  
}


.InstNavArea li h1{   
  color: rgb(114, 182, 43);
}

/* Hier wird das Design für die Instrument Area definiert. */

.InstrumentsArea{     
    
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
 
  display: flex;  

  white-space: nowrap;    

  z-index: 1;  
  scroll-behavior: smooth;
  overflow-x: hidden;

  background-color: rgba(221, 221, 221, 1.0);
  background-repeat: no-repeat;  
  border-radius: 20px;
  box-shadow: 10px 10px 15px black;
}


.InstrumentsArea section {  
  min-width: 100%; 
   
}

.InstrumentsArea h1 {
  position: relative;
  left: 1.5em;
  top: 1.5em;
  color: rgb(114, 182, 43);
  font-size: 3em;  
}

.InstrumentsArea h2 {
  position: relative;
  left: 3.5em;
  top: 1.5em;
  color: black;
  font-size: 1.3em;
   
}

.InstPic {  
  max-width: 700px;   
  max-height: 700px;

  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 100px;
  
}

.gridContainer {  
width: 960px;
margin-left: auto;
margin-right: auto;
margin-top: 30px;

display: grid;
grid-template-columns: auto auto;


grid-column-gap: 30px ;
grid-row-gap: 30px;
}

.gridItemPartrait{
  grid-column: 1;
  border-radius: 20px;
  box-shadow: 10px 10px 15px black;
  background-color:steelblue;

  display: flex; 
  justify-content: center; 
  align-items: center;
   
}

.gridItemPartrait img{
  width: 350px; 
}

.gridItemPortraitText{
  grid-column: 2;
  border-radius: 20px;
  box-shadow: 10px 10px 15px black;
  background-color: chocolate;  
}

.gridItemPortraitText div{
  margin: 4em;
}

.itemRegisterPic{
  grid-column: 1 / 3;
  background-color: teal;
  border-radius: 20px;
  box-shadow: 10px 10px 15px black;
 
  height: 450px;
  background-image: url(./src/Register/Flugelhorn.jpg);
  background-size: cover;
  background-position: 70%;
}

.gridItemWikiText{
  background-color: teal;
  border-radius: 20px;
  box-shadow: 10px 10px 15px black;
}

.gridItemWikiText div {
  margin:  4em;
}


.PortraitPicText2 h1{
  font-size: 1.8em;
  left: 0px;
  margin-bottom: 2em;
  margin-left: 2em;
}

.WikiPic{
  
  height: auto;
  float: right;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 15px black;
}

.WikiPic img{

  width: 350px;

}

#musician_1{
  width: 250px;
  height: auto;
  position: relative;
  top: 300px;
  left: 50px;
}



.btn {    
    cursor: pointer; 
    
  }

#playBtn {    
    width: 69px;
    height: 70px;
    left: 50%;    
  }

  #pauseBtn {    
    width: 69px;
    height: 70px;
    left: 50%;    
  }

  #stopBtn {    
    width: 69px;
    height: 70px;
    left: 50%;    
  }

  #trumpetBtn {
    width: 69px;
    height: 70px;
    left: 20%;
  }

  #tubaBtn {
    background: url(./src/Musicians/Posaune.svg);
    width: 100px;
    height: 100px;
    left: 20%;
  }
  
  #posBtn {
    /*
    background: url(./src/Musicians/Posaune.svg);
    background-repeat: no-repeat;
    */
    width: 300px;
    height: 275px;

    position: relative;
    left: 20px;
    top: 200px;
    
  }
  